<%= render "shared/second-header" %>

<h2>会員情報登録</h2>

<div class="container">
  <%= form_with model: @user, url: user_registration_path, class: "sign-form", local: true do |f| %>
    <%= render "devise/shared/error_messages", model: @user %>

    <div class="form-text-wrap">
      <label class="form-text" for="user_nickname">ニックネーム</label>
    </div>
    <div class="form-group">
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "field", id: "user_nickname" %>
    </div>

    <div class="form-text-wrap">
      <label class="form-text" for="user_email">Eメール</label>
    </div>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field", id: "user_email" %>
    </div>

    <div class="form-text-wrap">
      <label class="form-text" for="user_password">パスワード</label>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "new-password", class: "field", id: "user_password" %>
    </div>

    <div class="form-text-wrap">
      <label class="form-text" for="user_password_confirmation">パスワード（確認用）</label>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field", id: "user_password_confirmation" %>
    </div>

    <div class="register-btn">
      <%= f.submit "登録", class: "register-blue-btn" %>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>