<header class="main-header">
  <h1 class="title">
    <%= link_to "Trajectory Of Life", root_path %>
  </h1>

  <div class="nav">
    <% if user_signed_in? %>
    <ul class="right-list">
      <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-name"%></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %></li>
      <li><%= link_to "投稿", new_company_path, class: "post" %></li>
    </ul>
    <% else %>
    <ul class="right-list">
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <li><%= link_to "投稿", new_company_path, class: "post" %></li>
    </ul>
    <% end %>
  </div>

</header>