ようこそ！
<%= link_to "#{current_user.nickname}", user_path(current_user.id) %>
さん

<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to '投稿する', new_company_path %>

<% @companies.each do |company| %>
  <%= link_to company_path(company.id) do%>
    <ul>
      <li><%= company.name %></li>
    </ul>
  <% end %>
<% end %>