<%= render "shared/header" %>

<h2>詳細ページ</h2>

<div class="box">
  <div class="company-box">
    <table>
      <tr>
        <th>会社名</th>
        <td><%= @company.name %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @company.post_code %></td>
      </tr>
      <tr>
        <th>本社住所</th>
        <td><%= @company.address %></td>
      </tr>
      <tr>
        <th>ホームページのURL</th>
        <td><%= link_to "#{@company.website}", "#{@company.website}", class: "URL-link" %></td>
      </tr>
      <tr>
        <th>カテゴリー</th>
        <td><%= @company.category.name %></td>
      </tr>
      <tr>
        <th>職種</th>
        <td><%= @company.occupation.name %></td>
      </tr>
      <tr>
        <th>特徴</th>
        <td><%= @company.characteristic %></td>
      </tr>
      <tr>
        <th>理由①</th>
        <td><%= @company.first_reason %></td>
      </tr>
      <tr>
        <th>理由②</th>
        <td><%= @company.second_reason %></td>
      </tr>
      <tr>
        <th>理由③</th>
        <td><%= @company.third_reason %></td>
      </tr>
    </table>
  </div>
</div>


<div class="btn-lists">
  <div class="register-btn">
    <%= link_to '編集する', edit_company_path(@company.id), class: "edit-blue-btn", method: :get %>
  </div>
  <div class="register-btn">
    <%= link_to '削除する', company_path(@company.id), class: "delete-blue-btn", method: :delete %>
  </div>
</div>

  <div class="register-btn">
    <%= link_to "もどる", root_path, class: "back-blue-btn" %>
  </div>

<h2>コメント一覧</h2> 
<div class="box">
  <div class="comment-box", id="comments">
    <% @comments.each do |comment| %>
      <p><%= comment.text %></p>
    <% end %>
  </div>
</div>

<div class="container">
  <%= form_with model: [@company, @comment] do |f| %>
    <div class="form-group">
      <%= f.text_area :text, placeholder: "コメントを記入してください", rows: "4", class: "comments-text" %>
    </div>
    <div class="register-btn">
    <%= f.submit "送信する", class: "register-blue-btn" %>
    </div>
  <% end %>
</div>


<%= render "shared/footer" %>