<%= render "shared/header" %>

詳細ページ

<%= link_to "もどる", root_path %>

<ul>
  <li><%= @company.name %></li>
  <li><%= @company.post_code %></li>
  <li><%= @company.address %></li>
  <li><%= link_to "#{@company.website}", "#{@company.website}" %></li>
  <li><%= @company.category.name %></li>
  <li><%= @company.occupation.name %></li>
  <li><%= @company.characteristic %></li>
  <li><%= @company.first_reason %></li>
  <li><%= @company.second_reason %></li>
  <li><%= @company.third_reason %></li>
</ul>

<%= link_to '編集する', edit_company_path(@company.id), method: :get %>
<%= link_to '削除する', company_path(@company.id), method: :delete %>

<%= form_with model: [@company, @comment], local: true do |f| %>
  <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
  <%= f.submit "送信する" %>
<% end %>
<p>コメント一覧</p>
<% @comments.each do |comment| %>
  <%= comment.text %>
<% end %>

<%= render "shared/footer" %>