詳細ページ

<ul>
  <li><%= @company.name %></li>
  <li><%= @company.post_code %></li>
  <li><%= @company.address %></li>
  <li><%= @company.website %></li>
  <li><%= @company.category.name %></li>
  <li><%= @company.occupation.name %></li>
  <li><%= @company.characteristic %></li>
  <li><%= @company.first_reason %></li>
  <li><%= @company.second_reason %></li>
  <li><%= @company.third_reason %></li>
</ul>

<%= link_to '編集する', edit_company_path(@company.id), method: :get %>
<%= link_to '削除する', company_path(@company.id), method: :delete %>